with-tailwindcss-app@0.1.0 /Users/rayheyheygun/rayraycodes.github.io
├── UNMET DEPENDENCY @fortawesome/fontawesome-svg-core@^6.5.2
├── UNMET DEPENDENCY @fortawesome/free-brands-svg-icons@^6.5.2
├── UNMET DEPENDENCY @fortawesome/free-solid-svg-icons@^6.5.2
├── UNMET DEPENDENCY @fortawesome/react-fontawesome@^0.2.0
├── UNMET DEPENDENCY @types/node@^20
├── UNMET DEPENDENCY @types/react-dom@^18
├── UNMET DEPENDENCY @types/react-modal@^3.16.3
├── UNMET DEPENDENCY @types/react@^18
├── UNMET DEPENDENCY axios@^1.6.8
├── UNMET DEPENDENCY eslint-config-next@14.2.1
├── UNMET DEPENDENCY eslint@^8
├── UNMET DEPENDENCY github-markdown-css@^5.5.1
├── UNMET DEPENDENCY gray-matter@^4.0.3
├── UNMET DEPENDENCY next@14.2.1
├── UNMET DEPENDENCY postcss@^8
├── UNMET DEPENDENCY react-dom@^18.2.0
├── UNMET DEPENDENCY react-fontawesome@^1.7.1
├── UNMET DEPENDENCY react-icons@^5.1.0
├── UNMET DEPENDENCY react-markdown@^9.0.1
├── UNMET DEPENDENCY react-modal@^3.16.1
├── UNMET DEPENDENCY react@^18.2.0
├── UNMET DEPENDENCY rehype-raw@^7.0.0
├── UNMET DEPENDENCY remark-gfm@^4.0.0
├── UNMET DEPENDENCY remark-html@^16.0.1
├── UNMET DEPENDENCY remark-parse@^11.0.0
├── UNMET DEPENDENCY remark@^15.0.1
├── UNMET DEPENDENCY tailwindcss@^3.4.1
└── UNMET DEPENDENCY typescript@^5

